:host {
  flex: 1;
  min-width: 120px;
  max-width: 190px;
  margin: 0 5px;
}

.radial-progress-bar {
  position: relative;
  padding-top: 80%;
  border-radius: 4px;
  background-color: #cccc;
  cursor: pointer;

  &.active {
    background-color: #9480e4;
  }

  &:hover {
    transition: background-color 0.2s ease;
    background-color: #9e8de4;
  }

  .svg {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fill {
    transform: rotate(-90deg);
    transform-origin: center;
  }

  .value {
    font-size: 1.7rem;
    font-weight: 800;
  }

  .category {
    font-size: 0.8rem;
    font-weight: 800;
  }

  .percent {
    font-size: 1rem;
  }

  .value,
  .category,
  .percent {
    fill: rgb(17, 17, 17);
    text-anchor: middle;
  }
}
