<div class="widget-component">
  <div class="widget-header">
    {{widgetName}}
    <div 
      class="settings-toggler"
      (click)="openSettings(content)"
    >
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="widget-body">
    <div class="categories-wrapper">
      <app-radial-progress-bar 
        *ngFor="let dial of settingsState.dials | keyvalue"
        [data]="dial.value"
        [total]="data.length"
        [isActive]="activeDial === dial.key"
        [dialName]="dial.key"
        (chooseCategory)="chooseCategory($event)"
      >
      </app-radial-progress-bar>
    </div>
    <div class="total">
      Current Total:
      {{data.length}}
    </div>
    <div class="table-wrapper" *ngIf="activeDial !== null">
      <table class="table">
        <thead class="table-head">
          <tr>
            <th *ngFor="let colName of _columns"></th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="table-row" 
              *ngFor="let object of _data"
              [style.color]="getStatusColor(object.Status)">
            <td class="table-cell"
                *ngFor="let col of _columns"
                >
              {{ object[col] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header text-center">
    <h4 class="modal-title">Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body settings-modal">
    <div class="form-group">
      <div class="section-title">Categories</div>
      <div class="input-group">
        <div ngbDropdown class="dial-dropdown"
             *ngFor="let dial of editSettingsState.dials | keyvalue">
          <label class="label">{{dial.key | capitalize}}: </label>
          <button class="btn btn-primary" id="dial.key" ngbDropdownToggle>
            {{dial.value.Category}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dial.key">
            <!-- <button class="dropdown-item" *ngFor="let option of getOptions(dial.key)">
              {{option.Category}}
            </button> -->
          </div>
        </div>
      </div>
      <div class="section-title">Columns</div>
      <div class="input-group column-section" dragula="columns" [(dragulaModel)]="editSettingsState.columnList">
        <label class="column" *ngFor="let col of editSettingsState.columnList">
          {{ col.name }}
          <input [checked]="col.checked"
                 type="checkbox" 
                 class="checkbox" 
                 (change)="toggleColumnState(col.name)"/>
        </label>
      </div>
      <div class="section-title">
        Status
        <input 
          [(ngModel)]="editSettingsState.filterByStatus"
          type="checkbox"
          class="checkbox"
          (ngModelChange)="onFilterByStatus($event)"/>
      </div>
      <div class="input-group justify-content-between">
        <label *ngFor="let status of editSettingsState.availableStatuses">
          {{status.name}}
          <input 
            [(ngModel)]="status.checked"
            type="checkbox" 
            class="checkbox"
            (click)="changeStatusFilter($event, status.name)"/>
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveSettings(c)">Save</button>
  </div>
</ng-template>
